/* Hint: use relative measurements you'll find them useful! */
@import url('https://fonts.googleapis.com/css?family=Monoton');

* {
    box-sizing: border-box;
}

body {
	 background-image: url("./background.png");
	 background-attachment: fixed;
}

#spritesheet{
	display:none;
}
main {
	background-color: white;
	border-width: 15px;
	border-style: solid;
    -webkit-border-image: url(./border.gif) 15 stretch; /* Safari 3.1-5 */
    -o-border-image: url(./border.gif) 15 stretch; /* Opera 11-12.1 */
    border-image: url(./border.gif) 15 stretch; /*else*/
    padding: 2px;
    width:80%;
    margin: 30px auto;
}
header {
}

.logo {
    display: inline-block;
	font-family: Monoton;
    font-size: 175%;
    text-decoration: none;
	border-radius: 50%;
	border-style: solid;
	border-spacing: 15px;
    background-color: #ED6BC0;
    border-color: transparent;
    box-shadow: 0px 4px 4px grey;
    color: black;
    margin: 40px 30px;
    padding: 7px;
}

#kern1 {letter-spacing: -.15em;}
#kern2 {letter-spacing: -.2em;}
#kern3 {letter-spacing: -.15em;}

.fun {
    display: inline-block;
    font-family:monospace;
    font-size: 400%;
    text-transform: uppercase;
    text-shadow: 0px 3px 5px red;
    color: white;
}
section {
	/* color rgb(243,234,95) is used */
    height: 25%;
    width: 95%;
    display: -webkit-flex;
    display: flex;
    background-color: rgb(243,234,95);
    flex-direction: column-reverse;
    margin: auto;
}

section > div {
    /* font is 'Comic Sans MS, text is automatically adjusted to lowercase do not mod the HTML */
    display: flex;
    width: 50%;
    flex-grow: 1;
    text-transform: lowercase;
    font-family: "Comic Sans MS", cursive, sans-serif;
    align-items: center;
    color: white;
    
}
@media all and (max-width 300px) {
    section > div {
        width: 100%;
    }
}
section > div:nth-child(odd) {
    background-color: rgb(192,77,249);
    align-self: flex-end;
    padding-left: .5em;
}
section > div:nth-child(even) {
	background-color: rgb(43,209,252);
    align-self: flex-start;
    direction: rtl;
    padding-right: .5em;
}
section > div:nth-child(3):after {
	/* gave you the nth child after selector for free to inspire you */
	/* generated content in here ... a property can do that */
    content: "\00a0 \2665 \2665 \2665";
}
	
aside {
    background: rgb(255,63,63);
    color: white;
    border: 1rem solid black;
    border-top-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    border-top-right-radius: 3rem;
    border-bottom-left-radius: 3rem;
    font-family: sans-serif;
    font-size: 2rem;
    margin: 1rem auto;
    padding: 1rem;
    text-align: center;
    width:95%;
}
[title ~= bugs] {
	height:2rem;
	width:2rem;
	fill:white;
	animation-play-state: paused; 
	animation-name:ani;
	animation-duration:6s;
	animation-iteration-count: infinite;
	-webkit-animation-play-state: paused;
	-webkit-animation-name:ani;
	-webkit-animation-duration:6s;
	-webkit-animation-iteration-count: infinite;
	transition: fill 5s ease;
}

[title ~= bugs]:hover {
		animation-play-state: running;
		-webkit-animation-play-state: running;
		height:10rem;
		width:10rem;
		fill:black;
}
@keyframes ani {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(1080deg);
    }
}
/*safari*/
@-webkit-keyframes ani {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(1080deg);
    }
}


footer{
	background: #ED6BC0;
	margin-top: 4rem;
	width:100%;
	text-align: center;
	padding: 1em 0 1em 0;

}
.wrapper{
	height: 60%;
	margin: 0px auto 1em;
	display: inline-block;
	position:relative;
}
.wrapper > img{
	width: 25%;
}

.wrapper > span{
	opacity:0.0;
	border-radius:.5em;
	margin-left:.6em;
	padding:.4em;
	border: .2em solid black;
	background: white;
  	position: absolute;
  	top: 0;
  	right: -90;
  	box-shadow: -.1em .2em 1em black;
  	
}
.wrapper >span:before {
  opacity:0.0;
  content: "";
  position: absolute;
  top: .5em;
  left: -.5em;
  width: 0;
  border-right: .5em solid black;
  border-top: .5em solid transparent;
  border-bottom: .5em solid transparent;
  transition: blue 1s linear;
}

.wrapper:hover>span, .wrapper:hover>span:before {
	display:inline-block;
	opacity:1.0;
	transition: all 0.5s ease-in-out;

}

footer > span {
	display: block;
}
/* Opps truncated the file for you to fill in */

/* Solution given should be below 250 lines, solution we had was below 200 easily */
