body {
    background-image: url("../images/triangle_fractal.png");
    background-attachment: fixed;
}

/*error box appears if any errors occur*/
#error_box {
    display: none;
    padding: 6px;
    text-align: center;
    background-color: white;
    font-weight: bold;
    color: Red;
    font-size: 18px;
}

#retry_button {
    display: none;
    margin: 10px auto;
}

/*error box in case browser does not support scripts*/
.noscript_box {
    padding: 50px;
    font-size: 20px;
    background-color: white;
    border: solid 8px black;
    width: 50%;
    margin: 15% auto;
}
/*custom navbar theme*/
.navbar.caramel-theme {
    background-color: #99855f;
    font-family: Verdana, sans-serif;
    color: white;
}
.navbar-brand.caramel-theme {
    color: white;
}
/*custom soundboard grid layout spacing*/
#sb_grid {
    width: 80%;
    margin: 0 auto;
    background-color: black;
}
.sb_gridbox.no-gutter {
    text-align: center;
    margin: 0 !important;
    padding: 0 !important;
}
.sb_gridbox > .sb_img {
    border: 15px solid black;
    width: 193px;
    height: 193px;
    background-color: white;
}

#sb_list {
    display: none;
    margin: 0px auto;
    text-align: center;
    background-color: white;
}
/** dropdown menu **/
.dropbtn {
    padding: 16px;
    font-size: 16px;
    border: 1px solid white;
    cursor: pointer;
    margin-right: -5px;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
    background-color: #f1f1f1;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

/*mobile view fixes navbar*/
@media screen and (max-width: 750px) {
    .dropbtn,
    .dropdown {
        width: 100%;
    }
    .btn.btn-warning.navbar-btn {
        width: 100%;
    }
    #togglebtn {
        width: 100%;
    }
}
